
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/ativos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="#">Cadastrar Investimentos</a>
                    </li>
                    <li>
                        <a href="#">Cadrastrar Ativos</a>
                    </li>
                    <li>
                        <a href="#">Ver Investimentos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-content">
            <% if(noAtivos) { %>
                <div class="server-erros">
                    <p>Você precisa ter pelo menos 1 Ativo Cadastrado</p>
                </div>
            <% } %>
            <div class="body-main">
                <form method="post" action="ativos/post" id="form-post">
                    <div class="input-field">
                        <label for="nome-empresa">Nome da Empresa:</label>
                        <input type="text" placeholder="digite o nome da empresa" name="nome_empresa" id="nome-empresa" />
                    </div>
                    <div class="input-field">
                        <label for="cnpj-empresa">CNPJ da Empresa:</label>
                        <input type="text" placeholder="digite o CNPJ da empresa" maxlength="18" name="cnpj_empresa" id="cnpj-empresa" />
                    </div>
                    <div class="input-field">
                        <label for="codigo-ativo">Codigo do Ativo:</label>
                        <input type="text" placeholder="digite o codigo do ativo" name="codigo_ativo" id="codigo-ativo" />
                    </div>
                    <div class="button-field">
                        <button type="submit">Adicionar</button>
                    </div>
                </form>
            </div>
            <div class="form-erros">
                <p id="erro-msg"></p>
            </div>
        </div>
        <div class="table-content">
            <div class="table-header">
                <p>Empresa</p>
                <p>Código</p>
                <p>CNPJ</p>
                <div class="filter-icon">
                    <i class="mdi mdi-filter-variant"></i>
                </div>
            </div>
            <div class="table-body">
                <div class="item-field">
                    <% allAtivos.forEach( (ativo) => { %>
                    <div class="item">
                        <p><%= ativo.nome %></p>
                        <p><%= ativo.codigo %></p>
                        <p><%= ativo.cnpj %></p>    
                    </div>                            
                    <% }) %>
                </div>
                <div class="button-field">
                    <% allAtivos.forEach( (ativo) => { %>
                        <div class="button-item">
                            <a href="http://localhost:4613/app/ativos/update/<%= ativo.id %>/">
                                <div class="update-icon">
                                    <i class="fa-solid fa-pencil"></i>
                                </div>
                            </a>
                            <div class="delete-icon">
                                <i class="fa-solid fa-x" onclick="deleteItem(event)"  data-item-id="<%= ativo.id %>"></i>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/8f0a4b5e75.js" crossorigin="anonymous"></script>
    <script src="/scripts/ativos.js"></script>
</body>
</html>