<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Tabela de Operações</title>
    <style>

        nav {
            text-align: center;
        }
        ul li{
            display: inline;
            margin-right: 20px;
        }
        ul li a{
            text-decoration: none;
            font-family: sans-serif;
            color: black;
            font-size: 1.1rem;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f2f2f2;
        }
        
        .container {
            max-width: min-content;
            margin: 0 auto;
            padding: 50px 20px;
            border: 1px solid #ccc;
            background-color: #fff;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        form div {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            margin-bottom: 10px;
        }

        form div label {
            margin-bottom: 5px;
            color: #666;
        }

        form input[type="date"],
        form input[type="text"],
        form input[type="number"],
        form select {
            padding: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            color: #333;
            background-color: #f7f7f7;
            transition: all 0.2s ease-in-out;
        }

        form input[type="date"]:focus,
        form input[type="text"]:focus,
        form input[type="number"]:focus,
        form select:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            background-color: #fff;
        }

        form button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        form button:hover {
            background-color: #3e8e41;
        }

        
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 10px;
            border: solid 1px black;
        }

        thead {
            background-color: #f7f7f7;
            font-weight: bold;
            color: #666;
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="http://localhost:4613/app/investimentos">Cadastrar Investimentos</a>
                    </li>
                    <li>
                        <a href="http://localhost:4613/app/ativos">Cadrastrar Ativos</a>
                    </li>
                    <li>
                        <a href="https://www.google.com">Ver Investimentos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container" >
        <form method="post" id="myForm" action="/app/investimentos/post">
            <div>
                <label for="data">Data:</label>
                <input type="text" id="data" name="data">
            </div>

            <div>
                <label for="codigo">Código:</label>
                <select id="codigo" name="codigo">
                    <% codigoList.forEach( codigo => { %>
                        <option value="<%= codigo %>"><%= codigo %></option>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade">
            </div>

            <div>
                <label for="valor_unitario">Valor Unitário:</label>
                <input type="text" id="valor_unitario" name="valor_unitario">
            </div>

            <div>
                <label for="compra_venda">Compra/Venda:</label>
                <select id="compra_venda" name="compra_venda">
                    <option value="c">Compra</option>
                    <option value="v">Venda</option>
                </select>
            </div>

            <div>
                <label for="taxa_corretagem">Taxa Corretagem:</label>
                <input type="text" id="taxa_corretagem" name="taxa_corretagem">
            </div>

            <button type="submit">Adicionar</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Código</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Compra ou Venda</th>
                    <th>Valor da Operação</th>
                    <th>Taxa Corretagem</th>
                    <th>Taxa de Imposto</th>
                    <th>Valor Final</th>
                </tr>
            </thead>
            <tbody id="tabela_operacoes">
                <% allInvestimentos.forEach( item => { %>
                   <tr>
                       <td><%= item.data %></td>
                       <td><%= item.codigo_ativo %></td>
                       <td><%= item.quantidade %></td>
                       <td><%= item.valor_unidade %></td>
                       <td><%= item.compra_ou_venda %></td>
                       <td><%= item.quantidade * item.valor_unidade %></td>
                       <td><%= item.taxa_corretagem %></td>
                       <td><%= ( ( item.quantidade * item.valor_unidade ) * 0.0003).toFixed(2) %></td>
                       <% if(item.compra_ou_venda === 'c' ) { %>
                        <td><%= ( ( item.quantidade * item.valor_unidade) + (item.quantidade * item.valor_unidade * 0.0003) + item.taxa_corretagem ).toFixed(2) %></td>
                       <% } else { %>
                        <td><%= ( ( item.quantidade * item.valor_unidade) - ((item.quantidade * item.valor_unidade * 0.0003) + item.taxa_corretagem)).toFixed(2)  %></td>
                       <% } %>
                   </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script src="/scripts/invest.js"></script>
</body>
</html>