<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Tabela de Operações</title>
    <link rel="stylesheet" href="/styles/investimento.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="http://localhost:4613/app/investimentos">Cadastrar Investimentos</a>
                    </li>
                    <li>
                        <a href="http://localhost:4613/app/ativos">Cadrastrar Ativos</a>
                    </li>
                    <li>
                        <a href="https://www.google.com">Ver Investimentos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container" >
        <div class="form-container">
            <form method="post" id="myForm" action="/app/investimentos/post">
                <div class="form-input-post">
                    <div>
                        <label for="post-data">Data:</label>
                        <input type="text" id="post-data" name="data" maxlength="">
                    </div>
        
                    <div>
                        <label for="post-codigo">Código:</label>
                        <select id="post-codigo" name="codigo">
                            <% codigoList.forEach( (codigo) => { %>
                                <option value="<%= codigo %>"><%= codigo %></option>
                                <option value="<%= codigo %>"><%= codigo %></option>
                            <% }) %>
                        </select>
                    </div>
        
                    <div>
                        <label for="post-quantidade">Quantidade:</label>
                        <input type="number" id="post-quantidade" name="quantidade">
                    </div>
        
                    <div>
                        <label for="post-valor-unitario">Valor Unitário:</label>
                        <input type="text" id="post-valor-unitario" name="valor_unitario">
                    </div>
        
                    <div>
                        <label for="post-compra_venda">Compra/Venda:</label>
                        <select id="post-compra_venda" name="compra_venda">
                            <option value="C" selected>Compra</option>
                            <option value="V">Venda</option>
                        </select>
                    </div>
        
                    <div>
                        <label for="post-taxa_corretagem">Taxa Corretagem:</label>
                        <input type="text" id="post-taxa-corretagem" name="taxa_corretagem">
                    </div>    
                </div>
                <div id="form-post-btn">
                    <button type="submit">Adicionar</button>
                </div>
            </form>
        </div>
        <div class="table-container">
            <div class="table-content">
                <div class="table-header">
                    <p>Data</p>
                    <p>Código</p>
                    <p>Quantidade</p>
                    <p>Valor Unitário</p>
                    <p>Compra ou Venda</p>
                    <p>Valor da Operação</p>
                    <p>Taxa Corretagem</p>
                    <p>Taxa de Imposto</p>
                    <p>Valor Final</p>
                    <div class="filter-icon">
                        <i class="mdi mdi-filter-variant"></i>
                    </div>
                </div>
                <div class="table-body">
                    <div class="item-field" data-allInvestimentos="<%= allInvestimentos %>">
                        <% allInvestimentos.forEach( (item) => { %>
                            <div class="item">
                                <p><%=item.data %></p>
                                <p><%= item.codigo_ativo %></p>
                                <p><%= item.quantidade %></p>
                                <p><%= item.valor_unidade %></p>
                                <p><%= item.compra_ou_venda %></p>
                                <p><%= item.quantidade * item.valor_unidade %></p>
                                <p><%= item.taxa_corretagem %></p>
                                <p><%= ((item.quantidade * item.valor_unidade) * 0.0003 ).toFixed(2) %></p>
                                <% if (item.compra_ou_venda === "c") { %>
                                    <p><%= ( (item.quantidade * item.valor_unidade) + ((item.quantidade * item.valor_unidade) * 0.0003) + item.taxa_corretagem).toFixed(2) %></p>
                                <% } else{ %>
                                    <p><%= ( (item.quantidade * item.valor_unidade) - ((item.quantidade * item.valor_unidade) * 0.0003) + item.taxa_corretagem).toFixed(2) %></p>
                                <% } %>
                            </div>                            
                        <% }); %>
                    </div>
                    <div class="button-field">
                        <% allInvestimentos.forEach( (item) => { %>
                            <div class="button-item">
                                <a href="http://localhost:4613/app/investimentos/update/<%= item.id %>/">
                                    <div class="update-icon">
                                        <i class="fa-solid fa-pencil"></i>
                                    </div>
                                </a>
                                <div class="delete-icon">
                                    <i class="fa-solid fa-x" onclick="deleteItem(event)"  data-item-id="<%= item.id %>"></i>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="filter-field">
                <div class="filter-form">
                    <div class="filter-form-item">
                        <label for="filter-data-investimento">Data Investimento</label>
                        <select id="filter-data-investimento" name="data-investimento">
                            <option selected value="">selecione</option>
                            <option>Ordem Crescente</option>
                            <option>Ordem Decrescente</option>
                        </select>
                    </div>
                    <div class="filter-form-item">
                        <label for="filter-codigo-ativo">Codigo Ativo</label>
                        <select name="codigo-ativo" id="filter-codigo-ativo">
                            <option selected>selecione</option>
                            <option>MGLU3</option>
                        </select>
                    </div>
                    <div class="filter-form-item">
                        <label for="filter-compra-venda">Compra ou venda</label>
                        <select name="compra-venda" id="filter-compra-venda">
                            <option selected>selecione</option>
                            <option>Compra</option>
                            <option>Venda</option>
                        </select>
                    </div>
                    <div class="filter-form-item">
                        <label for="filter-valor-final">valor final</label>
                        <select id="filter-valor-final" name="valor-final">
                            <option selected>selecione</option>
                            <option>Ordem Crescente</option>
                            <option>Ordem Decrescente</option>
                        </select>
                    </div>
                </div>
                <div class="filter-form-button">
                    <button id="reset-filter-btn">Limpar</button>
                    <button id="filter-form-btn">Aplicar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/investimento.js"></script>
    <script src="https://kit.fontawesome.com/8f0a4b5e75.js" crossorigin="anonymous"></script>
</body>
</html>