<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/updateInvestimentos.css">
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container">
        <div class="update-field">
            <div class="put-form">
                <div class="input-field">
                    <div class="put-form-item">
                        <label for="data-put">Data:</label>
                        <input type="text" id="data-put" value="<%= item.data %>" name="data">
                    </div>
        
                    <div class="put-form-item">
                        <label for="codigo-put">Código:</label>
                        <select id="codigo-put" name="codigo">
                            <option value="<%= item.codigo_ativo %>" selected> <%= item.codigo_ativo %> </option>
                            <% codigoList.forEach( codigo => { %>
                                <option value="<%= codigo %>"><%= codigo %></option>
                            <% }); %>
                        </select>
                    </div>
        
                    <div class="put-form-item">
                        <label for="quantidade-put">Quantidade:</label>
                        <input type="number" value="<%= item.quantidade%>" id="quantidade-put" name="quantidade">
                    </div>
        
                    <div class="put-form-item">
                        <label for="valor-unitario-put">Valor Unitário:</label>
                        <input type="text" id="valor-unitario-put" value="<%= item.valor_unidade%>" name="valor_unitario">
                    </div>
        
                    <div class="put-form-item">
                        <label for="compra-venda-put">Compra/Venda:</label>
                        <select id="compra-venda-put" name="compra_venda">
                            <% if(item.compra_ou_venda == "C") { %>
                                <option value="C" selected>Compra</option>
                                <option value="V">Venda</option>
                            <% } else{ %>
                                <option value="V" selected>Venda</option>
                                <option value="C" >Compra</option>
                            <% } %>
                        </select>
                    </div>
        
                    <div class="put-form-item">
                        <label for="taxa-corretagem-put">Taxa Corretagem:</label>
                        <input type="text" id="taxa-corretagem-put" value="<%= item.taxa_corretagem %>" name="taxa_corretagem">
                    </div>
                </div>
                <div class="button-field">
                    <button id="voltar-btn">
                        Voltar
                    </button>
                    <button id="put-form-btn">
                        Adicionar
                    </button>
                    <!-- <button id="voltar-btn">
                        <a href="http://localhost:4613/app/investimentos">
                            Voltar
                        </a>
                    </button>
                    <button id="put-form-btn">
                        <a href="http://localhost:4613/app/investimentos">
                            Adicionar
                        </a>
                    </button> -->
                </div>
            </div>
            <div class="form-error">
                <p id="erro-msg"></p>
            </div>
        </div>
    </div>
    <script src="/scripts/updateInvestimentos.js"></script>
</body>
</html>